@import " ../../../../Helper/styleHelper";
@import "../../Helper/addins";
.book-collection {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    // height: 20rem;
    border-radius: 40px;
    padding: 1rem;
    border: 1px solid white;
    .head-name {
        text-align: left;
        color: rgb(255, 104, 104);
    }
    .inner-div {
        @include inner-div();
    }
}
