@import "../../Helper/styleHelper";
@import "../../Helper/addins";

.search-result {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 40px;
    padding: 1rem;
    border: 1px solid white;
    .heads {
        @include flexFiller(row, center, space-between, 0);
    }
    .head-name {
        text-align: left;
        color: blue;
    }
    .close {
        text-align: right;
        font-size: 2rem;
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
    .inner-div {
        color: red;
        @include inner-div();
    }
}
